footer{
	width:100%;
	margin-top:30px;
	background: $footer;
	.footCont{
		@include grid-row(12);
	
		.footerlinks{
			@include grid-column(12, $center:true);
			p{
				font-size:15px;
			}
		}
		.copywrite{
			@include grid-row();
		}
	}
}