header{
	@include grid-row();
	.largeHead{
		nav{
			@include grid-column(10, $center:true);
			margin-top:10px;
			margin-bottom:25px;
			ul{
				@include grid-column(12, $center:true);
				@include inline-block-list(10px);
				text-align: center;
				li{
					@include no-bullet;
					padding:20px;
					font-size: 1.5em;
				}
			}
		}
		@media only screen and (max-width: 850px) { 
			display:none;
		}
	}
	.smallHead{
		@media only screen and (min-width: 850px) { 
			display:none;
		}
	}	
	.brp-logo{
		@include grid-column(8,$center:true);
		@media only screen and (max-width: 850px) { 
			margin-top: 25px;
		}
	}
}

