// Splash page
.splash{
	background: $back1;
	background-size: cover;
	width:100%;
	height: 100%;
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	min-height: 360px;
	.imgRow{
		@include grid-row();
		.imgCol{
			@include grid-column(12, $center:true);
		}
	}
	.butRow{
		@include grid-row();
		.butCol{
			@include grid-column(12, $center:true);
			text-align: center;
			h1{
				color:#fff;
			}
		}
	}
}


// using Slick slider 
.slider{
	@include grid-row();
	margin-top: 3ems;
	@media only screen and (max-width: 800px) {
		display:none;
	}		
	.sliderimages{
		@include grid-column(10, $center:true);
	}
}

// index body content
.intro{
	@include grid-row();
	div{
		@include grid-row();
		h3{
			@include grid-column(4);
		}
		p{
			@include grid-column(11, $offset:1);
		}
		.introbutton{
			@include button($radius:10px);
			@include grid-column(3, $offset:1);
		}
	}
}

.lineBreakBlk{
	hr{
		border-color:$font;
	}
}
//about section
.aboutsection{
	@include grid-row();
	.about{
		@include grid-column(6);
		.aboutimg{
			width:250px;
			height:250px;
			border: solid 3px $borderImg;
			border-radius: 5px;
			img{
				max-width: 100%;
			}
		}
	}
	.aboutlist{
		@include grid-column(6);
		padding-top: 25px;
		@media only screen and (max-width: 800px) {
		display:none;
		}		
	}
}

// about brp text
.aboutbrp{
	@include grid-row();
	.abouttext{
		@include grid-column(11);
	}
}

//video and contact info
.socialsection{
	@include grid-row(12);
	.vidsection{
		@include grid-column(6);
		.workoutvid{
			@include flex-video-container();
		}
	}
	.socialcontact{
		@include grid-column(6, $push:2);
	}
}