
// Custom Variables // 

$font:#000;
$font2:#FFF;
$contBack: #D3D3D3;
$contback:#000;
$back1:#181818;
$back2:#262622;
$headers:#FF0033;
$borderImg:#DC143C;
$footer:#272721;

html, body{
	width:100%;
	color: $font;
	background: linear-gradient(#111, transparent 100%) no-repeat, url("../images/background.jpg");
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
	color:$font2;
	font-family: 'Roboto Condensed', sans-serif;
	&:hover{
		color:$headers;
	}
}

img{
	max-width:100%;
}

h1, h2, h3, h4, h5, h6{
	color:$headers;
	font-family: 'Roboto Condensed', sans-serif;
}

.contentbreakline{
	@include grid-row();
}
.container{
	@include grid-row();
	background:$contBack;
	padding:40px;
	  box-shadow: 1px 1px 0px 0px #999, 
	  			  2px 2px 0px 0px #999, 
	  			  3px 3px 0px 0px #999, 
	  			  4px 4px 0px 0px #999, 
	  			  5px 5px 0px 0px #999, 
	  			  6px 6px 0px 0px #999, 
	  			  7px 7px 0px 0px #999, 
	  			  8px 8px 0px 0px #999;
}
