body {
	background-color: #181818 ;
}

p {
	color:yellow;
	font-family: 'Oxygen', sans-serif;
}

h4 {
	color: red;
}

.srow{
	padding: 30px 0px;
	border: solid white 3px;
}

.homeslide{
	padding: 50px 0px;
}

.panel {
	background-color: #505050 ;
}

.aboutmessage{
	padding: 30px  300px;
}

#sertop {
	text-align: center;
	padding-top: 30px;
}

#confirm {
	padding: 130px 0px;
}

.contactmain{
	padding-top: 50px;
}
.carousel {
	border-style: solid;
	border-width: 5px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 30px;
	background-color: black;
}

.carousel ul li{
	display: inline;
	margin: 0px 5px;
}

.picc{
	border-width:  10px 10px 45px 10px;
	border-style: solid;
	border-color: white;
}
.subpic{
	display: inline;
	padding: 0px 18px;
}
.subpic > img{
	border: solid white 3px;
	border-radius: 10px;
}

#form span {
	margin-left:15px;
	padding: 8px 35px;
	background: white;
	color: black;
	border-radius: 2px;
}

#form span.valid {
	background-color :#c0ce51;
	color: black;
}

#form span.error {
	background-color:#b0240f;
	color: black;
}